{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link href="{{ asset('bundles/cypresstest/compass/stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}
    <ul>
    {% for product in products %}
        <li>{{ product.name }}</li>
        <li>{{ product.image.name }}</li>
    {% endfor %}
    </ul>
{% endblock %}
