{% extends "::base.html.twig" %}

{% block stylesheets %}
    {#<link href="{{ asset('bundles/cypresstest/compass/stylesheets/screen.css') }}" media="screen, projection" rel="stylesheet" type="text/css" />#}
{% endblock %}

{% block body %}
    <ul>
    {% for brand in brands %}
        <li>
            {{ brand.name }}
            <ul>
            {% for model in brand.models if model.name == 'model 4' %}
                <li>
                    {{ model.name }}
                    <ul>
                    {% for finiture in model.finitures %}
                        <li>{{ finiture.name }}</li>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
